[submodule "bash-sensible"]
	path = bashrc.d/sensible
	url = https://github.com/mrzool/bash-sensible
[submodule "zsh-defer"]
	path = zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "config/kak/plugins/plug.kak"]
	path = config/kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
