[submodule "tmux.d/plugins/tpm"]
	path = tmux.d/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash-sensible"]
	path = bashrc.d/sensible
	url = https://github.com/mrzool/bash-sensible
[submodule "zsh-defer"]
	path = zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
