awacs==0.8.1
aws-sam-translator==1.7.0
beets==1.4.7
boto3==1.9.15
botocore==1.12.15
certifi==2018.8.24
cfn-flip==1.0.3
chardet==3.0.4
Click==7.0
docutils==0.14
enum34==1.1.6
idna==2.7
jellyfish==0.6.1
jmespath==0.9.3
jsonschema==2.6.0
munkres==1.0.12
musicbrainzngs==0.6
mutagen==1.41.1
python-dateutil==2.7.3
PyYAML==3.13
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
troposphere==2.3.3
Unidecode==1.0.22
urllib3==1.23
