awacs==0.8.1
aws-fuzzy-finder==1.0.0
boto3==1.9.71
boto3-session-cache==1.0.2
botocore==1.12.71
cfn-flip==1.1.0.post1
Click==7.0
docutils==0.14
greenlet==0.4.15
Jinja2==2.10
jinja2-cli==0.6.0
jmespath==0.9.3
MarkupSafe==1.1.0
msgpack==0.6.0
neovim==0.3.1
pynvim==0.3.1
python-dateutil==2.7.5
PyYAML==4.2b4
s3transfer==0.1.13
six==1.12.0
troposphere==2.3.4
urllib3==1.24.1
